  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html"></a>
        </div>
      </div>
    </div>

    <div class="container">

<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Phone Roulette Text: (647-931-1254)</h1>
  <p class="lead">The most fun you can have with your cloths on!</p>
</header>

<ul class="thumbnails bootstrap-examples">
  <li class="span4">
    <h3>How it works</h3>
    <p>Text the number above to chat with a total stranger.</p>
    <p>You can chat for as little or long as you like.</p>
    <p>Text "quit" to leave or "next" to find a new partner.</p>
  </li>
  <li class="span4">
    <h3>Totally Fun - Totally Anonymous</h3>
    <p>Chat with a random stranger, anytime, your name or number is never given out.</p>
  </li>
  <li class="span4">
    <h3>Help - Text:</h3>
    <ul>
      <li>"next" : to change to a new user.</li>
      <li>"quit" : to not recieve any new messages from anyone.</li>
    </ul>
  </li>
</ul>