
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Phone Roulette</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .navbar-inner {
        background-image: -moz-linear-gradient(top, #669900, #436500);
        background-image: -ms-linear-gradient(top, #669900, #436500);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#669900), to(#436500));
        background-image: -webkit-linear-gradient(top, #669900, #436500);
        background-image: -o-linear-gradient(top, #669900, #436500);
        background-image: linear-gradient(top, #669900, #436500);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#669900, endColorstr='#436500, GradientType=0);
      }     
      
      .subhead h1 {
        font-size:54px
      } 
    </style>

  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">


  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html"></a>
        </div>
      </div>
    </div>

    <div class="container">

<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <h1>Phone Roulette (647-931-1254)</h1>
  <p class="lead">The most fun you can have with your cloths on!</p>
</header>


<ul class="thumbnails bootstrap-examples">
  <li class="span4">
    <h3>Totally Anonymous</h3>
    <p>Your name or number is never given out.</p>
  </li>
  <li class="span4">
    <h3>Totally Fun</h3>
    <p>Chat with a random stranger, anytime.</p>
  </li>
  <li class="span4">
    <h3>Help - Text:</h3>
    <ul>
      <li>"next" : to change to a new user.</li>
      <li>"quit" : to not recieve any new messages from anyone.</li>
    </ul>
  </li>
</ul>

  </body>
</html>